.navbar {
    background-color: #240046f4 !important;
}

.navbar-nav .nav-link {
    color: #fff; 
}

.navbar-nav .nav-link:hover {
    color: #000000; 
}

.custom-btn {
    background-color: #FF9E00;
    border-color: #FF9E00;
    color: #fff; 
    width: 300px;
    height: 100px;
}
  
.custom-btn:hover {
    background-color: #FF7E00; 
    border-color: #FF7E00;
}