.visit-btn {
    background-color: #FF9E00;
    border-color: #FF9E00;
    color: #fff; 
}
  
.visit-btn:hover {
    background-color: #FF7E00; 
    border-color: #FF7E00;
}

#predictiveButton {
    background-color: #747a7f;
    color: #fff;
}

#predictiveButton:disabled {
    background-color: #ccc; 
    color: #5a6268; 
}