{% extends "base.html"%}
{% block title%}Patient Record{% endblock %}

{%block content%} 
<link
    rel="stylesheet"
    href="../static/css/new_visit.css"
/>

<div class="container">
    {% if patientId %}
    <h2 align="center"><strong>New</strong> visit for patient</h2>
    <br/>
    <br/>
    <br/>
    <form method="POST" align="center" >
        <div class="row">
            <div class="col-md-4">
                <!-- First Column of Inputs -->
                <div class="mb-3">
                    <label for="chest_pain"><strong>Chest Pain</strong></label>
                    <select 
                        id="chest_pain" 
                        name="chest_pain"
                        class="form-control"
                    >
                        <option value="1">Typical Chest Pain</option>
                        <option value="2">Atypical Chest Pain</option>
                        <option value="3">Pain, but no Chest Pain</option>
                        <option value="4">Asymptomatic</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="resting_bp"><strong>Resting Blood Pressure</strong> in mm Hg</label>
                    <input type="text" class="form-control" id="resting_bp" name="resting_bp">
                </div>
                <div class="mb-3">
                    <label for="cholesterol"><strong>Cholesterol Levels</strong> in mg/dl</label>
                    <input type="text" class="form-control" id="cholesterol" name="cholesterol">
                </div>
                <div class="mb-3">
                    <label for="fasting_sugar"><strong>Fasting Blood Sugar Levels &gt; 120 mg/dl</strong></label>
                    <select 
                        id="fasting_sugar" 
                        name="fasting_sugar"
                        class="form-control"
                    >
                        <option value="1">Above 120 mg/dl</option>
                        <option value="0">Below 120 mg/dl</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="rest_ecg"><strong>Resting ECG</strong></label>
                    <select 
                        id="rest_ecg" 
                        name="rest_ecg"
                        class="form-control"
                    >
                        <option value="0">Normal</option>
                        <option value="1">ST-T wave abnormality</option>
                        <option value="2">Left ventricular hypertrophy</option>
                    </select>
                </div>
                
                <div class="mb-3">
                    <label for="max_heart_rate"><strong>Maximum Heart Rate Achieved</strong> in bps</label>
                    <input type="text" class="form-control" id="max_heart_rate" name="max_heart_rate">
                </div>
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-4">
                <!-- Second Column of Inputs -->
                <div class="mb-3">
                    <label for="exang"><strong>Exercise Induced Chest Pain</strong></label>
                    <select 
                        id="exang" 
                        name="exang"
                        class="form-control"
                    >
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="major_vessels"><strong>Number of Major Vessels</strong></label>
                    <select 
                        id="major_vessels" 
                        name="major_vessels"
                        class="form-control"
                    >
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="unknown">Unknown</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="thal"><strong>Thalassemia</strong></label>
                    <select 
                        id="thal" 
                        name="thal"
                        class="form-control"
                    >
                        <option value="3">Normal blood flow</option>
                        <option value="6">No blood flow in parts of the heart</option>
                        <option value="7">A blood flow is observed, but not normal</option>
                    </select>
                </div>
                
                <div class="mb-3">
                    <label for="oldpeak"><strong>Oldpeak</strong> (measurement of the ST segment depression)</label>
                    <input type="text" class="form-control" id="oldpeak" name="oldpeak">
                </div>
                <div class="mb-3">
                    <label for="slope"><strong>Slope</strong> (slope of the peak exercise ST)</label>
                    <select 
                        id="slope" 
                        name="slope"
                        class="form-control"
                    >
                        <option value="1">Upsloping</option>
                        <option value="2">Flat</option>
                        <option value="3">Downsloping</option>
                    </select>
                </div>
            </div>
        </div>

        <input type="hidden" name="patientId" id="patientId" value="{{patientId}}">
        <input type="hidden" name="recordId" id="recordId" value="{{recordId}}">

        <div class="col-md-12 text-end">
            <button type="submit" class="btn btn-primary submit-btn">Submit</button>
        </div>
    </form>
    {% else %}
        <h2>No patient id was provided.</h2>
    {% endif %}
    <div class="ml-3 mb-3">
        <a href="javascript:history.back()" class="btn btn-lg btn-secondary">Back</a>
    </div>
</div>
{% endblock %}