{% extends "base.html"%}
{% block title%}Patient Record{% endblock %}

{%block content%} 
{% if patient %}
<link
    rel="stylesheet"
    href="../static/css/patient_record.css"
/>

<script 
    type="text/javascript"
    src="{{url_for('static', filename='js/index.js')}}"
>
</script>

<div class="container-fluid">

    <div class="mb-3">
        <a href="javascript:history.back()" class="btn  btn-secondary">Back</a>
    </div>

    <br/>
    <br/>
    <div class="row">
        <div class="col-md-9">
            <div class="span-content">
                <div class="patient-info">
                    <div class="row">
                        <div class="col-8">
                            <h2>{{patient.get_primer_nombre()}}</h2>
                        </div>
                        <div class="col-4 text-end">
                            <p>Placeholder Date</p>
                        </div>
                    </div>
                    <br/>
                    <ul class="list-unstyled">
                        <li><strong>Age:</strong> {{patient.get_age()}}</li>
                        <li><strong>Sex:</strong> {{patient.get_sexo()}}</li>
                        <li><strong>Weight:</strong> {{patient.get_peso()}} lbs</li>
                        <li><strong>Condition:</strong> {{patient.get_condicion()}}</li>
                        <li id="result"><strong>Cardiac Disease:</strong> </li>
                    </ul>
                    <div class="d-flex">
                        <a id="predictiveLink" href="#">
                            <button id="predictiveButton" disabled class="btn btn-secondary btn-lg">Predictive Result Analysis</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="scrollable-list">
                
                <ul class="list-group">
                    {% for v in visits %}
                    <a href="#" onClick="updateResult('{{v[1]}}', '{{v[2]}}')">
                        <li class="list-group-item">Visit {{v[0]}}</li>
                    </a>
                    {% endfor %}
                </ul>
                
            </div>
            
            <a href="/new_visit?patientId={{patient.get_id()}}&recordId={{visits[0][3]}}" class="text-decoration-none">
                <button class="btn btn-primary btn-block mt-3 visit-btn">New Visit</button>
            </a>
            
        </div>
    </div>
</div>
{% else %}

{% endif %}
{%endblock%}